body {
    border: solid red;
    display: block;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    height: 960px;
    max-width: 1920px;
    

    background: url(../images/BackGrMain/Zaporojskaya.png) no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto ;
}

.footer {
    position: absolute;
    height: 86px;
    left: 0%;
    right: 0%;
    top: 874px;
    bottom: 0%;

    background: #192607;
}

.footer_logo {
    position: absolute;
    left: 20%;
    top: 24px;
}

.btn {
    position: absolute;
    width: 180px;
    height: 38px;
    left: 45%;
    top: 25px;
    
    padding: 9px auto 13px;
    font-size: 14px;
    font-weight: 900;

    text-transform: uppercase;

    font-family: Lato;
    font-style: normal;
    

    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

    background: #EF751C;
    border-radius: 5px; 

    transition: background 0.5s linear, color 0.1s linear;
}

.btn:hover {
    background-color: #EEDA25;
    color: #192607;
    
}

.footer_social {
    position: absolute;
    left: 70%;
    top: 26px;
}

.footer_social_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social_item {
}

.social_item_facebook:hover {
    background: url(../images/footer/Social/WhiteFacebook.png);

}

.social_item_instagram:hover {
    background: url(../images/footer/Social/WhiteInstagram.png);
}

.social_item_twiter:hover {
    background: url(../images/footer/Social/WhiteTwiter.png);
}


.copyright {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;

    color: #FFFFFF;

}